<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${error}" th:if="${error != null}"></p>

<form action="/user" method="post">
    <label>Username: </label>
    <input type="text" name="username" id="username" th:value="${username}"> <!-- th:value holds the input in the field when the
    use has to go back and re-type the password-->

    <label>Email Address: </label>
    <input type="email" name="email" id="email" th:value="${email}">

    <label>Password: </label>
    <input type="password" name="password" id="password">

    <label>Verify Password: </label>
    <input type="password" name="verify" id="verify">

    <input type="submit" value="Submit">

</form>

</body>
</html>